body {
  font-family: 'Lucida Grande', 'Segoe UI', Tahoma, sans-serif;
}

.amoeba-status-icon {
  color: lightgray;
}

.amoeba-status-icon[data-status^="2"] {
  color: forestgreen;
}

.amoeba-status-icon[data-status^="4"] {
  color: orange;
}

.amoeba-status-icon[data-status="4004"] {
  color: lightgray;
}
